@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.h-full {
    height: 100vh;
  }
.heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.head1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.head2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
body{
    background-color:rgb(246, 234, 211);
    overflow-x: hidden;
    overflow-y: hidden;
}
.background{
    background-image: url("/pizza_background.png"),url("/pizza_bg.png");
    background-position:105% 180%, -7% 120%;    
    background-size: 30%,40%;
    background-repeat: no-repeat;  
}

.active{
    color:rgb(95, 1, 1);
    transform:translate(20px,0px)
}

.icon {
    visibility: hidden;
    position: absolute;
    top: 12%;
    left:-18px; 
  }


li.active .icon{
    visibility: visible;
}